<h1 class="piratePage">{{pirate.name}}</h1>
<!-- <h2>Pirate Show Page</h2> -->

<ul class="pirate-show">
  <div class="pirateDetails">
    <li>Name: {{pirate.name}}</li>
    <li>Birthplace: {{pirate.birthplace}}</li>
    <li>Year of Death: {{pirate.death_year}}</li>
    <li>Based in: {{pirate.base}}</li>
    <li>Nickname: {{pirate.nickname}}</li>
  </div>
  <a class="btn btn-primary" href="/pirates">Back Home</a>
</ul>
